@use "../../styles/variables.module.scss" as var;
@use "../../styles/typography.module.scss" as typo;

.tabContainer {
  flex-grow: 1;
  height: 45px;
  z-index: 10;
}

.tab {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  @extend .textSmall;
  transition: var.$transition;
}

.tabOnLight {
  color: var.$teal;
  border-bottom: 2px solid var.$teal;
}

.tabOnDark {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.tabContainer input:checked+label {
  font-weight: typo.$weightBold;
}

.tabContainer input:checked+.tabOnLight {
  color: var.$orangeDark;
  border-color: var.$orangeDark;
}

.tabContainer input:checked+.tabOnDark {
  color: var.$orange;
  border-color: var.$orange;
}
