@use "../../styles/variables.module.scss" as var;
@use "../../styles/components/button.module.scss" as btn;

.icon {
  @include btn.button(20px, 20px, transparent);
  box-shadow: none;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var.$orangeDark;
}

.iconDisabled {
  background-color: var.$greyLight;
}
