@use "../../styles/variables.module.scss" as var;

.serviceFields {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.repeat,
.total {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
}

.repeat {
  margin-left: -3px;

  @media (min-width:var.$mobileWidth) {
    & label {
      top: 0;
    }
  }
}

.repeatDetails,
.totalDetails {
  mask-image: url(../../assets/images/more.svg);
}
