@use "../common/variables" as var;
@use "../common/typography" as typo;

.main__container {
	padding: 0 20px 90px;
}

.main__content {
	height: 100%;
}

.button-main {
	position: fixed;
	bottom: 20px;
	left: 20px;

	& .button__rollup {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		transform: translateY(-100%);
		overflow: hidden;
	}
}

