@use "../common/variables" as var;
@use "../common/typography" as typo;

.popup-service-details .popup__fields-container {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	height: 100%;
}

.popup-service-details .tab-container {
	height: 45px;
}

.popup-service-details .tab {
	color: var.$teal;
	border-color: var.$teal;
	align-items: start;
}

.popup-service-details .popup-content {
	max-height: calc(100% - 22px - 20px);
	flex-grow: 1;
}

.details-list {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	max-height: calc(100% - 45px - 25px);
}

.details-list-header {
	font-weight: typo.$weightBold;
}

.details-list-body {
	flex-grow: 1;
	overflow-y: scroll;
}

.details-list-header,
.details-list-body {
	border-bottom: 2px solid var.$teal;
}

.add-details-button {
	position: relative;
	width: 100%;
	height: calc(100% - 10px);
	border: 1px dashed var.$teal;
	border-radius: 25px;

	&::after {
		position: absolute;
		content: "";
		width: 20px;
		height: 20px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: var.$tealLight;
		mask-image: url(../images/add.svg);
	}
}
