@use "../common/variables" as var;
@use "../common/typography" as typo;

.popup {
	width: 100vw;
	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

.popup-small {
	& .popup__container {
		height: calc(100% - 85px);
	}
}

.popup__container {
	position: absolute;
	bottom: 0;
	// transform: translateY(100%);
	width: 100%;
	height: calc(100% - 20px);
	padding: 20px 20px 90px;

	background-color: #fff;
	border-top-left-radius: var.$radius;
	border-top-right-radius: var.$radius;
	box-shadow: var.$shadowLight;
	transition: var.$transition;
}

.popup__close {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: var.$orangeDark;
	mask-image: url(../images/close-popup.svg);
}

.button-popup {
	box-shadow: none;
	z-index: 10;
}

.popup__header {
	color: var.$teal;
	margin-right: 40px;

	& h3 {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.popup__container {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}

// .popup-content {
// 	height: 100%;
// }

.popup__form {
	height: 100%;
}

.popup__field,
.popup__checkbox {
	position: relative;
	height: 40px;
}

.field-group {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 10px;
}

.field-group-horizontal {
	flex-direction: row;
	align-items: flex-end;
}
