@use "../common/variables" as var;
@use "../common/typography" as typo;

@use "sass:color";

.reminder {
	background-color: var.$middle;
	overflow: hidden;
	margin: 0 -20px;
}

.reminder__slider {
	height: 100%;
	padding: 20px 20px 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 20px;
}

.reminder__slide {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: #fff;
	column-gap: 10px;
}

.reminder__description {
	font-weight: typo.$weightNormal;
	min-width: fit-content;
}
