@use "../common/variables" as var;
@use "../common/typography" as typo;

.stat-select,
.time-select {
	position: sticky;
	z-index: 10;
	margin-bottom: 20px;
	background-color: var.$teal;
}

.stat-select {
	top: 0;
}

.time-select {
	top: 55px;
}
