@use "../common/variables" as var;
@use "../common/typography" as typo;

.tile-stat {
	flex-direction: column;
	padding-top: 0;

	& .chart__container {
		min-height: 90px;
	}
}

.chart__bullets {
	margin-top: 20px;
}
