@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");

:root {
	font-family: "Inter", sans-serif;
}

// Font sizes
$sizeHuge: 32px;
$sizeBig: 22px;
$sizeNormal: 16px;
$sizeSmall: 12px;

// Font weight
$weightNormal: 300;
$weightBold: 700;

// Line heights
@function lineHeightNormal($fontSize) {
	@return $fontSize * 1.5;
}

@function lineHeightSmall($fontSize) {
	@return $fontSize;
}

// Text definitions
@mixin text($size, $weight, $lineHeight) {
	font-family: "Inter", sans-serif;
	font-size: $size;
	font-weight: $weight;
	line-height: $lineHeight;
	text-decoration: none;
}

.title-huge {
	@include text($sizeHuge, $weightNormal, lineHeightSmall($sizeHuge));
}

.title-big {
	@include text($sizeBig, $weightNormal, lineHeightSmall($sizeBig));
}

.title-normal {
	@include text($sizeNormal, $weightNormal, lineHeightSmall($sizeNormal));
}

.title-small {
	@include text($sizeSmall, $weightNormal, lineHeightSmall($sizeSmall));
}

.text-big {
	@include text($sizeBig, $weightNormal, lineHeightNormal($sizeBig));
}

.text-normal {
	@include text($sizeNormal, $weightNormal, lineHeightNormal($sizeNormal));
}

.text-small {
	@include text($sizeSmall, $weightNormal, lineHeightNormal($sizeSmall));
}

.no-wrap {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
