// Colors
$primaryLight: #ebfffc;
$primaryMain: #00d1b2;

$auxLight: #e3c3f6;
$auxMain: #943acb;
$auxHover: #ac64d9;

$greyLight: #b5b5b5;
$greyDark: #363636;

// =============================

$tiffanyLight: #cff5ee;
$tiffany: #88e5d4;
$middle: #53b9c1;
$tealLight: #70b8cf;
$teal: #0986ac;
$tealDark: #015771;

$orangeDark: #e3ad0a;
$orange: #ffca2a;
$orangeLight: #ffedb5;

$teal-to-tiffany: linear-gradient(130deg, $teal, $middle, $tiffany);
$orange-to-light: linear-gradient(-20deg, $orangeDark, $orange, $orangeLight);
$orange-to-light-alt: linear-gradient(130deg, $orangeLight, $orange);

// =============================

$radius: 25px;
$shadow: 0px 4px 6px rgba(80, 119, 112, 0.5);
$shadowLight: 0px 0px 15px rgba(80, 119, 112, 0.25);
$transition: all 0.2s ease-out;
