@use "./variables.module.scss" as var;

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background: var.$teal;
  background-repeat: no-repeat;

  @media (min-width:var.$mobileWidth) {
    width: var.$mobileWidth;
    height: var.$mobileHeight;
    min-height: auto;
    margin: 0 auto;
    margin-top: calc(calc(100vh - var.$mobileHeight) / 2);
    overflow: hidden;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
