@use "../../styles/variables.module.scss" as var;
@use "../../styles/typography.module.scss" as typo;

.input {
  position: relative;
  z-index: 2;
  display: block;
  appearance: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: var.$teal;
  outline: none;
  transition: var.$transition;
}

.label {
  position: absolute;
  z-index: 1;
  display: block;
  top: 11px;
  left: 0;
  color: var.$teal;
  transition: var.$transition;
}

.field {
  position: relative;
  height: 40px;

  & .input {
    border-bottom: 1px solid var.$teal;
  }

  & .button-icon {
    background-color: var.$tiffanyLight;
  }

  & .input:focus {
    border-bottom: 1px solid var.$orange;
  }

  & .input:focus+.label,
  & .input:not(:placeholder-shown)+.label {
    top: -10px;
    font-size: typo.$sizeSmall;
    color: var.$tealLight;
  }

  & .input:not(:placeholder-shown)~.button-icon {
    background-color: var.$orangeDark;
  }
}
