@use "../common/variables" as var;
@use "../common/typography" as typo;

.rollup__container {
	position: relative;
	background: var.$orange-to-light-alt;
	border-radius: var.$radius var.$radius 0 0;
	transition: var.$transition;
	opacity: 0.85;

	transform: translateY(100%);
}

.rollup__content {
	padding: 10px 0;
}

.rollup__item {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var.$teal;
}

.rollup-active {
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	&::after {
		transform: rotate(180deg);
	}

	& .rollup__container {
		transform: translateY(0);
	}
}
