@use "../common/variables" as var;
@use "../common/typography" as typo;

@mixin button($width, $height, $color: var.$orange-to-light) {
	display: block;
	border: none;
	border-radius: calc($height/2);

	width: $width;
	height: $height;
	padding: 0 calc($height/3);
	background: $color;
	color: #fff;
	cursor: pointer;
	transition: var.$transition;

	box-shadow: var.$shadow;

	@extend .title-big;
	line-height: typo.$sizeBig;
}

.button {
	@include button(calc(100vw - 40px), 50px);

	&:active {
		filter: brightness(75%);
	}
}

.button-with-mark {
	padding-right: 24px;

	&::after {
		position: absolute;
		right: 25px;
		top: 0;
		display: block;
		content: "";
		width: 15px;
		height: 100%;
		transition: var.$transition;

		background-image: url("../images/corner.svg");
		background-position: center;
		background-repeat: no-repeat;
	}
}

.button-icon {
	@include button(20px, 20px, transparent);
	box-shadow: none;
	mask-size: cover;
	mask-repeat: none;
	flex-grow: 0;
	flex-shrink: 0;
}
