@use "../common/variables" as var;
@use "../common/typography" as typo;

.field {
	position: relative;
	z-index: 2;
	display: block;
	appearance: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	color: var.$teal;
	outline: none;
	transition: var.$transition;

	@extend .title-normal;
}

.field-label {
	position: absolute;
	z-index: 1;
	display: block;
	top: 14px;
	left: 0;
	@extend .title-normal;
	color: var.$teal;
	transition: var.$transition;
}

.popup__field {
	& .field {
		border-bottom: 1px solid var.$teal;
	}

	& .button-icon {
		background-color: var.$tiffanyLight;
	}

	& .field:focus {
		border-bottom: 1px solid var.$orange;
	}

	& .field:focus + .field-label,
	& .field:not(:placeholder-shown) + .field-label {
		top: -8px;
		font-size: typo.$sizeSmall;
	}

	& .field:not(:placeholder-shown) ~ .button-icon {
		background-color: var.$orangeDark;
	}
}
