@use "../../styles/variables.module.scss" as var;
@use "../../styles/typography.module.scss" as typo;

.header {
  position: relative;
}

.container {
  height: 55px;
  width: 100%;
  padding: 10px 20px;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

.buttonReturn {
  border-radius: 0;
  background-color: #fff;
  mask-image: url(../../assets/images/return.svg);
}

